*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto' !important;
}
body{
	width: 80%;
	margin: 0 auto;
}
a{
	text-decoration: none; 
}
p{
	line-height: 1.5;
}
img{
	width: 200px;
	height: auto;
}
input{
	outline: none;
	border:none;
	text-align: center;
	padding-bottom: 5px;
	font-size: 1rem;
}
button{
	border: none;
	outline: none;
	padding: 10px;
	color: white;
	background-color: #fbd43b;
	text-transform: uppercase;
}
button[disabled='disabled']{
	background-color: gray;
}
form a{
	color: #00c3a3;
}
.border-botton{
	border-bottom: 1px solid gray;
}
.flex-center{
	display: flex;
	justify-content: center;
}
.icon{
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin-bottom: -4px;
	margin-left: 10px;
	height: 25px;
	width: 50px;
}
.phoneandnumber{
	background-image: url("../img/icons/phoneandnumber.png");
}
.lock{
	background-image: url("../img/icons/lock.png");
}
.clock{
	background-image: url("../img/icons/clock.png");
}
.user{
	background-image: url("../img/icons/user.png");
}
.message{
	background-image: url("../img/icons/message-gray.png");
}
.check{
	background-image: url("../img/icons/check.png");
}
.card{
	background-image: url("../img/icons/card.png");
}
.send{
	background-image: url("../img/icons/send.png");
}
.code-qr{
	background-image: url("../img/icons/code-qr.png");
}
.error{
	color: red;
}
/*reutilizables*/
.text-center{
	text-align: center;
}
.fs-14{
	font-size: 14px;
}
.mt-5rem{
	margin-top: 5rem;
}
.mv-14px{
	margin-bottom: 14px;
	margin-top: 14px;
}
.mb-2rem{
	margin-bottom: 2rem;
}
.pb-2rem{
	padding-bottom: 2rem;
}
.block{
	display: block;
	width: 100%;
}
.bg-yellow{
	background-color: #EEBE20;
}
.height100{
	height: 100vh;
}
.width-35{
	width: 35px;
}
.border-red{
	border-color: red;
}
.bg-purple-ligth{
	background-color: #451e36;
}
.bg-purple-dark{
	background-color: #38052a;
}
.flex-between{
	display: flex;
	justify-content: space-between;
}
.flex-align-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.height40{
	height: 40vh;
}
.height60{
	height: 60vh
}